* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.bac-body1 {
    width: 35%;
    background-repeat: no-repeat;
}

.bac-body1 img {
    width: 100%;
    height: 38rem;

}

.bac-body2 {
    width: 35%;
    background-repeat: no-repeat;
}

.bac-body2 img {
    width: 35%;
    height: 38rem;
    position: absolute;
    top: 90px;
    right: 0;

}

.hide {
    display: none;
}

.road-game img {
    background: url(pic/road.png) repeat-y center;
    width: 422px;
    height: 690px;
    position: absolute;
    left: 35%;
    top: 0;
    overflow: hidden;
    z-index: -100;
    display: block;

}

#score {
    width: 20%;
    border: none;
    margin-top: 2%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
    background-color: #03A9F4;
    color: #fff;
    font-size: 30px;
}

.start {
    position: absolute;
    left: 40%;
    top: 20rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #03A9F4;
    opacity: .8;
    width: 20%;
    color: #fff;
    font-size: 30px;
    height: 5rem;
    transition: .2s ease-in;
}

.img-start {
    position: absolute;
    top: -22rem;
    left: -2%;
    z-index: -200;
}

.img-start img {
    width: 292px;
    height: 1000px;
}

.start:hover {
    transform: scale(0.97);
    background-color: #000;
    opacity: .8;
}

.game-over {
    position: absolute;
    left: 35%;
    top: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #E91E63;
    opacity: .8;
    text-align: center;
    line-height: 5rem;
    width: 30%;
    color: #fff;
    font-size: 30px;
    height: 5rem;
}

#myMotorimg {
    width: 2%;
    height: 3rem;
    position: absolute;
    left: 49%;
    transform: scale(1.5);
    top: 90vh;

}

#carimg1 {
    position: absolute;
    width: 2.7%;
    left: 43%;
    animation: car1 3s infinite linear;
}

#carimg2 {
    position: absolute;
    width: 2.7%;
    left: 51.7%;
    animation: car2 4s infinite linear;
}

#carimg3 {
    position: absolute;
    width: 2.7%;
    left: 47%;
    bottom: 0%;
    animation: car3 6s infinite linear;
}

#carimg4 {
    position: absolute;
    width: 2.7%;
    left: 55%;
    bottom: 0%;
    animation: car4 5s infinite linear;
}

@keyframes car1 {
    0% {
        top: -30vh
    }

    100% {
        top: 100vh
    }
}

@keyframes car2 {
    0% {
        top: -50vh
    }

    100% {
        top: 100vh
    }
}

@keyframes car3 {
    0% {
        top: -60vh
    }

    100% {
        top: 100vh
    }
}

@keyframes car4 {
    0% {
        top: -80vh
    }

    100% {
        top: 90vh
    }
}