* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(pic/road.png) repeat-y center;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}
.hide{
    display: none;
}
#score{
    width: 20%;
    border: none;
    margin-top: 2%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
    background-color: #03A9F4;
    color: #fff;
    font-size: 30px;
}
.start {
    position: absolute;
    left: 40%;
    top: 20rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #03A9F4;
    opacity: .8;
    width: 20%;
    color: #fff;
    font-size: 30px;
    height: 5rem;
    transition: .2s ease-in;
}

.start:hover {
    transform: scale(0.97);
    background-color: #000;
    opacity: .8;
}

#mymotorimg {
    width: 20%;
    position: absolute;
    left: 40%;
    top: 55vh;
}

#carimg1 {
    position: absolute;
    width: 20%;
    left: 39%;
    animation: car1 4s infinite linear;
}

#carimg2 {
    position: absolute;
    width: 20%;
    left: 40%;
    animation: car2 3s infinite linear;
}
#carimg3 {
    position: absolute;
    width: 20%;
    left: 30.7%;
    bottom: 0%;
    animation: car3 5s infinite linear;
}
#carimg4 {
    position: absolute;
    width: 20%;
    left: 35%;
    bottom: 0%;
    animation: car4 5s infinite linear;
}

@keyframes car1 {
    0% {
        top: -20vh
    }

    100% {
        top: 100vh
    }
}
@keyframes car2 {
    0% {
        top: -40vh
    }

    100% {
        top: 100vh
    }
}
@keyframes car3 {
    0% {
        top: -60vh
    }

    100% {
        top: 100vh
    }
}
@keyframes car4 {
    0% {
        top: -80vh
    }

    100% {
        top: 90vh
    }
}
